[2020-05-29 17:10] appcove opened #2 "Boot on virtualbox"
Hello, I was going to try your new OS on VirtualBox, but it wasn't clear how to do so with a .img file.  Any suggestions?

[2020-05-29 17:31] joshiemoore commented on #2
Hi, thanks for your interest! I don't use VirtualBox but I found a straightforward way to do this.

Use this command to convert the .img file to a .vdi file: `C:\'Program Files'\Oracle\VirtualBox\VBoxManage.exe convertfromraw --format VDI .\snakeware0-0-1.img snakeware0-0-1.vdi`

Then select this .vdi file as your virtual disk image when you're creating the VM in VirtualBox. Also select Linux/Othe

[2020-05-29 18:01] appcove commented on #2
Hey Josh, I'm running Ubuntu 18.04, but the steps I followed were the same.

[code]

That produced `snakeware 0-0-1.vdi`

Then I started a new VirtualBox machine with Linux/Other Linux (64-bit) as the OS type, and selected this VDI as the virtual image.

![Screenshot from 2020-05-29 14-00-41](https://user-images.githubusercontent.com/45595/83290562-cd5f9500-a1b4-11ea-9c19-c74c8f6cb323.png)

Please

[2020-05-29 18:49] joshiemoore commented on #2
I'm 99% sure this is because your VirtualBox's virtual hardware is configured in a way that snakeware's current kernel config doesn't support. This is the first time I've tried running this in VirtualBox, it worked for me but I will take a look at the different hardware configurations VirtualBox has and try to get it to work for all of them.
Sorry this didn't work for you, thank you for trying, I

[2020-05-29 19:50] jamesalbert opened #3 "[feature request] - snaketerm improvements"
Awesome project. I'm running it right now 😎 Just a couple things I noticed while rummaging around:

- If the current output exceeds the height of the output panel, it automatically scrolls all the way up. Keeping the latest output focused is probably the intent.
- No way to clear output
- autocomplete and history (up and down arrow functionality) would be cool, too.

Definitely interested in takin

[2020-05-29 19:57] appcove commented on #2
I'll keep testing for you if you give me guidance.  I think this is a fun project.  I started programming on Commodore  64 when I was 6 years old.  Have been using Python primarily for about 15 years now.

[2020-05-29 20:01] joshiemoore commented on #3
Hi, thank you for checking it out! I noticed the thing with the scrollbar, but moved on before fixing it. It would be amazing if you wanted to work on these changes when you get a chance. Let me know if you have any questions!

[2020-05-30 03:28] ankith26 opened #7 "I want to contribute a game"
I have written a game with python and pygame.
Do take a [look](http://github.com/ankith26/My-PyChess).

It’s a fairly medium sized project. If you like the project a lot, you could integrate it within your Snakeware Project. And you had mentioned that some changes will be needed to make it work in your project. **If you like my project**, we can work together to to integrate it in yours.

[2020-05-30 03:39] dargonforce opened #8 "Change bootloader to something smaller/faster than GRUB"

[2020-05-30 07:36] Abdur-rahmaanJ opened #10 "RaspberryPi status"
Greetings,

Can it be run on the Pi?

[2020-05-30 07:53] GsakuL opened #11 "add file manager"
I'd like to try myself at this (unless someone has already started).

For the start, I thought to keep it simple:
 - display stuff
 - navigate folders
   - click on folder
   - back, forward, up buttons
 - address bar

Things/Ideas for later (in no special order):
 - Tabs
 - file operations (copy, paste, move, rename, delete)
 - context menu (for file operations)
 - open other (future) apps, like

[2020-05-30 08:51] ashwinvin opened #13 "Add Documentation"
It will be helpful if you added Documentation to all modules. I would recommend using sphnix to generate documenation from code.

[2020-05-30 10:57] ankith26 commented on #10
You would have to built it from source on a pi. But if you just want to test, run wm.py in the snakewm directory.

[2020-05-30 13:03] Abdur-rahmaanJ commented on #10
Ah ok. Else i just PRed a clock the right way

[2020-05-30 13:37] joshiemoore commented on #11
It would be great if you worked on this, note that pygame_gui has a UIFileDialog module which should get you most of the way there:
https://pygame-gui.readthedocs.io/en/latest/pygame_gui.windows.html#module-pygame_gui.windows.ui_file_dialog

I'm sure it will end up needing to change as the distro changes, but it would be awesome if we at least got started on an initial version. Thank you!

[2020-05-30 13:45] Admicos opened #14 "Create a better build system"
In your current build scripts, you seem to be just copying system libraries & hoping for the best, which can fail if the host system is subtly different from what you're using.

To make this better, I suggest using something small like [Buildroot](https://buildroot.org/) or [KISS Linux](https://k1ss.org).

Buildroot is the most mature of the two, and is specifically designed for building embedded

[2020-05-30 14:09] GsakuL commented on #11
when using this, I'd be hacking it a bit. because it is more indented as a file picker. I would subclass it, and override methods and alter properties. (to e.g. hide the OK, Cancel Buttons and hook into events)

[2020-05-30 14:15] joshiemoore commented on #14
I agree, copying library files from the host system is disgusting. I will look into buildroot, this looks like exactly what we need. Thank you!

[2020-05-30 15:26] dargonforce commented on #11
All great ideas, a file manager is a great next step

[2020-05-30 16:20] shazz opened #15 "VMWare Player support [works]"
In case somebody is interested, the image works perfectly with VMWare Player (tested on Linux/Ubuntu 18.04):

[code]

Then create a VM without any OS, remove the default disk and add this VMDK image.

You won't be able to resize the window but good for testing!

[2020-05-30 16:25] shazz opened #16 "Wheel installation support (vanilla python / local)"
Hi,
Snakeware is really a great idea!

I guess having a full network support will be a pain but at least to support local wheel installation would be great. I also expect some wheels won't work but I guess it will be ok for vanilla python libraries ?

[2020-05-30 16:34] shazz opened #17 "Embedded code editor"
While the C64 Basic interpreter was also a code editor, it would be great to add to snakeware a code editor to load/write/save programs. Not sure what is easier... use nano or write a pygame editor ?

[2020-05-30 16:46] karx1 opened #18 "Cannot shutdown system"
Hey, how would I shutdown the snakeware system? Running os.system("/sbin/shutdown") in the Python console does not work, and there is currently no way to shutdown the system from snakewm (though I am going to make one), so I am currently relying on force shutdowns, which I would rather not use. So if you could please tell me how to shutdown the system, so I could then build a button for it in snak

[2020-05-30 16:50] shazz commented on #18
I hope that snakeware will be as resilient as a C64 and "just switch off" won't corrupt anything :)

[2020-05-30 16:53] shazz opened #19 "Build_all.sh fails"
Using Ubuntu 18.04, it downloaded a lot of things then crashes with:

[code]

[2020-05-30 16:57] joshiemoore commented on #19
It failed because there is already something mounted for /dev/loop0. If you look at the last line, kpartx actually created a loop device for the disk image at /dev/loop25, but the script assumes /dev/loop0.

I recommend against trying to build your own image for now, we are going to be switching to buildroot for the build system and then it will work much better on people's systems that aren't min

[2020-05-30 16:57] #19 closed

[2020-05-30 16:58] shazz commented on #19
Ok! Makes sense!

[2020-05-30 17:12] Zireael07 commented on #17
I think the idea was to add Tkinter support, and therefore IDLE.

[2020-05-30 17:21] karx1 commented on #18
Yeah, just ended up going with "/sbin/poweroff -f" in the end

[2020-05-30 17:21] #18 closed

[2020-05-30 18:12] GsakuL opened #21 "'default apps' / register filetypes"
a way to connect any "consumer"(editors, like #17 ?) and any "producer" (file managers, like #11).

my thoughts thus far:

either: a (singleton / static) class as middleware
- should register on app side (no edit in register service) at boot  => how?
- class may provide a overview in the gui of what is currently mapped
- producers just call e.g. an `Middleware.open` method
  - maybe return if it w

[2020-05-30 21:41] jamesalbert commented on #14
@joshiemoore regardless of how we build, I been working this morning on getting the build into github actions with a corresponding local build flow using docker. Did you have other plans?

[2020-05-30 22:03] ADVFRED commented on #10
How would you go about building snake ware on a pi?(Im a general newbie to Linux/Unix)

[2020-05-30 22:18] Admicos commented on #10
On Sat May 30, 2020 at 6:03 PM +03, ADVFRED wrote:

With the current build system, I'd imagine you'd need to build it ON a
Pi, as the current build scripts copy files from the host OS. And you
would probably also need to modify the kernel configuration, as it
probably assumes an x86 (common desktop/server) system right now. (The
Raspberry Pi is an 'arm' system)

Even after that, you'd need to mess

[2020-05-30 23:27] karx1 opened #24 "Build fails"
Hey, I was trying to build the image so I could test my changes in a qemu to see if it worked reliably with snakeware, but every time the build fails when trying to install GRUB.
![image](https://user-images.githubusercontent.com/49726028/83340888-0118e880-a2a3-11ea-9e5c-29283987062c.png)
Looks like it's failing to mount the EFI partition correctly. Could ths be because I already had some folders

[2020-05-30 23:40] joshiemoore commented on #24
Hello, thanks so much for trying it out! I suggest not trying to build an image with the current build system. We're switching to a new build system based on buildroot, and I'll be pushing that tonight. The current build system only werks reliably on my machine, while the new system should work for everyone (and also enable people to try to build for raspberry pi and whatever else).

In this case

[2020-05-31 02:47] #24 closed

[2020-05-31 02:48] joshiemoore commented on #14
The original build system has been replaced with a build system based on buildroot.

[2020-05-31 02:48] #14 closed

[2020-05-31 02:49] joshiemoore commented on #10
The original build system has been replaced with a build system based on buildroot, so porting snakeware to Raspberry Pi should be a lot more manageable.

[2020-05-31 03:27] joshiemoore opened #26 "Shutdown/Reboot not working"
I have tested the shutdown and reboot dialogs on my host Arch install, while running snakeware in a VM, and running snakeware on real hardware, and they don't seem to work in any of these configurations.

However, if I run `os.system("/sbin/reboot -f")` (or shutdown) from the interpreter, this operation works as expected.

[2020-05-31 03:33] Abdur-rahmaanJ opened #27 "System API and SQLite as default DB"
It would be nice to have a system api to expose to app devs.

Lets say someone makes an app to tune volume. Instead of he writing his method, he just uses the system way of changing sound. We don't need everything but at least some system things

Also for storage, was thinking of having sqlite to store system info, using sqlalchemy

[2020-05-31 03:38] ankith26 commented on #26
Is python running with sudo privileges, if not then I guess python cannot do a reboot for the system.

[2020-05-31 03:48] Abdur-rahmaanJ commented on #17
I think  a pure pygame_gui better ^^

[2020-05-31 12:56] shazz opened #29 "Buildroot dependency missing"
Hi,
To get the build working on Ubuntu 18-04, I had to add:
`sudo apt-get install libelf-dev`

Then it finished but with one error: `create: command not found`, but I guess just a missing comment

[code]

[2020-05-31 13:00] Admicos commented on #29
On Sun May 31, 2020 at 8:56 AM +03, shazz wrote:

Buildroot has a list of dependencies it needs in it's manual[1], and I
assume `libelf-dev` is covered by the `build-essential` package in
Debian-based distros, which Ubuntu is.

It also doesn't work on my (albeit _very_ exotic) system configuration,
so I'm planning to make a somewhat reproducible build environment for
easier build setup.

In the me

[2020-05-31 13:02] shazz commented on #29
Looks it's not, I have `build-essential` installed but `libelf-dev` was not

[2020-05-31 13:08] Admicos commented on #29
On Sun May 31, 2020 at 9:02 AM +03, shazz wrote:

Interesting.

Searching about it, it seems like it's about a specific kernel
configuration option that requires libelf:

http://lists.busybox.net/pipermail/buildroot/2018-March/215220.html

But I'd assume this means Buildroot itself would download it on its
own, or am I confusing something.

I admit, I don't have much experience with Buildroot, so

[2020-05-31 13:15] shazz commented on #29
Ah I missed another error in the script (which I guess should stop it):

[code]

[2020-05-31 14:07] shazz commented on #29
As a workaround I added the last path to `LD_LIBRARY_PATH`
`export LD_LIBRARY_PATH=/home/shazz/projects/pythonOS/snakeware/snakeware/buildroot/output/target/usr/lib`

Then the compilation of pygame failed due to the fact some host paths (SDL) were in the includes:

[code]

[2020-05-31 14:11] Admicos commented on #29
I am currently working on a script to create a fresh chroot for
snakeware development, which should help with making sure nothing from
the real host bleeds over.

It's almost done. It just needs testing to make sure everything builds
in it. If you are willing to help, I'll upload it somewhere.

[2020-05-31 15:30] #3 closed

[2020-05-31 15:30] #15 closed

[2020-05-31 15:42] shazz commented on #29
yes please share!

[2020-05-31 15:54] karx1 commented on #26
I don't really know why this is happening. The dialog is just running os.system("...") when you confirm. Maybe it has something to do with SnakeWM permissions?

[2020-05-31 15:55] karx1 commented on #26
I didn't actually get a chance to test it yesterday because the build was failing, but I'll try and troubleshoot today.

[2020-06-02 13:55] ygbourhis opened #40 "Need keyamp support for worldwide contributions"
Currently snakeware only uses US qwerty keymap.
We should be able to set the keymap easily either once booted, or at boot time via grub, or at build.
Without different keymaps, it will be hard to get contributors from outside US (I'm French, I'm a python developer, but once in the snakeware python shell, it is unusable without brain torture to remap mentally...).

[2020-06-02 13:58] ygbourhis opened #41 "Adding a choice for ipython and/or bpython as default shells"
It would be really user friendly to be able to choose ipython or bpython as default shell instead of the raw python shell.

[2020-06-02 14:43] boredom101 opened #42 "Modify running app"
It would be interesting if you could press a button in the menubar of an app, and it opens a text editor that you can use to edit that app.
As Python is an interpreted language this can be quite useful.

[2020-06-02 14:47] callmepavo commented on #42
Would have to implement this after tkinter and IDLE gets working

[2020-06-02 16:25] alexandruavadanii commented on #10
I can't say I have too much hands-on experience with the Pi, but I have some experience porting various stuff to aarch64.
The first thing that comes to mind when considering porting snakeware (apart from building arch-compatible binaries via buildroot) is the on-target bootloader. Most aarch64 boards (but not the Pi) come with UEFI and only that.
The current snakeware implementation seems to targe

[2020-06-02 16:35] alexandruavadanii opened #43 "Release artifacts could be smaller"
Not an issue per-se, but an idea about the release artifacts, specifically the raw disk image file:
- archiving the fixed-size disk image (currently 400MB as hardcoded in the source code) using only gzip does reduce its size a bit (103MB with the default compression settings);
- using a sparse disk image format (e.g. qcow2) helps too (222MB with uncompressed qcow2, 111MB with compressed qcow2), bu

[2020-06-02 16:37] sdubois opened #44 "Running wm.py on macOS"
I am trying to run wm.py on macOS. I ran pip3 install pygame but I still receive the error "ImportError: No module named pygame"

Is there anything else I need to do to get this running?

[2020-06-02 17:02] callmepavo commented on #44
Pygame and pygame GUI are 2 packages required to run the window manager.
I've sent a pull request that adds this explanation to a readme in snakewm, along with the other pip packages you need.

Run:

`python3 -m pip install pygame`

And

`python3 -m pip install pygame-gui`

[2020-06-02 17:07] callmepavo commented on #44
I just realised I misread the part where you installed the packages. Sorry if my reply seemed condescending.

[2020-06-02 17:08] sdubois commented on #44
Not at all! I have pygame and pygame-gui installed, but wm.py still returns

[code]

[2020-06-02 17:53] horstjens commented on #44
@sdubois  as you write that you are using MacOS:
can it be that you have pygame installed for python2, but not for python3 ?
As far as i understand each MacOS has an python2 on board.
You can check by typing in a terminal:
`python`
(make sure it says python version 3 something) and then
`import pygame`
If you still get an error than pygame was installed for python2.

[2020-06-02 17:56] sdubois commented on #44
Ah you are right! I was able to get it working by using the python3 command.

[2020-06-02 18:02] horstjens opened #46 "official forum/subreddit/discord channel ?"
I am very very much excited about this project and want to know a place to discuss / communicate/ get involved into snakeware, other than sending issues or pull requests.
Is there an official (beginner friendly) forum / place in the internet ?

[2020-06-02 18:06] Admicos commented on #46
On Tue Jun 2, 2020 at 2:02 PM +03, Horst JENS wrote:

I don't think there is anywhere other than this repo here right now.

However, if a discussion place gets created, I would strongly be in
favor of having it in a free software platform, like IRC or Matrix.

Or at least, the ability to bridge via them, so no one needs a heavy
proprietary client like Discord.

[2020-06-02 18:07] Abdur-rahmaanJ commented on #46
Yess i'm for it!!! Created one here: https://discord.gg/PhZRVMJ Just notify me youre the one who opened the issue!

[2020-06-02 18:08] Abdur-rahmaanJ commented on #46
@Admicos you can have discord on the web. Also pallets for example has an irc to discord bridge

[2020-06-02 18:12] Admicos commented on #46
On Tue Jun 2, 2020 at 2:08 PM +03, Abdur-Rahmaan Janhangeer wrote:

I know, but it's still proprietary.

Yeah, that's one alternative if Discord gets decided as the platform to
use.

[2020-06-02 18:18] callmepavo commented on #46
If we did it over IRC then a pure python IRC client could be one of the apps. A more complicated project that would be

[2020-06-02 18:19] Abdur-rahmaanJ commented on #46
@callmepavo hexchat??

[2020-06-02 18:21] Abdur-rahmaanJ opened #47 "Logo"
Related to #46 and more broad, i think a logo might be nice ^^_

[2020-06-02 18:21] callmepavo commented on #46
@Abdur-rahmaanJ not sure how well that would work with pygame gui

[2020-06-02 18:26] callmepavo commented on #47
I like the symbolism of a snake eating its own tail

[2020-06-02 18:27] callmepavo commented on #46
Yeah that might work

[2020-06-02 18:28] Admicos commented on #47
On Tue Jun 2, 2020 at 2:27 PM +03, callmepavo wrote:

That might get confused with PyPy, though.

[2020-06-02 18:31] Abdur-rahmaanJ opened #48 "[bug] __init__.py and __pycache__ gets listed in background images list"

[2020-06-02 18:47] sdubois commented on #44
Slightly related: I see the instructions say use the left winkey to open the app menu. Is there a way to do that on mac OS?

[2020-06-02 18:50] win8linux commented on #2
I do have a converted snakeware VDI image that does work. Should I send it here?

[2020-06-02 19:02] dijit commented on #46
On the main page there it says something about snakechat (chat with other snakeware users), there are multiple python libraries for talking over IRC, even one made by a friend of mine which is extensively used (and thus; tested): https://github.com/kylef/irctk

[2020-06-02 19:50] John123Allison commented on #46
+1 Discord. I think that would be the most effective and widely adoptable platform, and has capacity for roles.

[2020-06-02 20:18] erkinalp opened #49 "Raspberry Pi port"
Make RaspberryPy real.

[2020-06-02 20:20] erkinalp commented on #10
Raspberry Pi is neither BIOS or UEFI. It uses a custom firmware.

[2020-06-02 21:06] alexandruavadanii commented on #10
That's great news (Pi supporting UEFI).
If https://github.com/joshiemoore/snakeware/pull/30 gets merged, the changes required for adapting the build should be clearer, although not trivial - use grub-efi-arm64 inside the chroot, add an ESP partition and use GPT for the image (throw in some isohybrid for x86 and get UEFI/BIOS compatible images on x86 for free in the process).

If anybody wants to p

[2020-06-02 22:29] joshiemoore opened #51 "pip module installation"
Currently the only part of the build process that happens outside of buildroot is the installation of pip modules in `post-build.sh`. This script executes the compiled python3 binary and has it install the pip modules specified in `config/pip_modules.txt`. This works fine when building for x86_64, but will not work when trying to cross-build for Raspberry Pi or other systems.

I have scoured the n

[2020-06-02 22:30] joshiemoore commented on #49
Duplicate of #10

[2020-06-02 22:30] #49 closed

[2020-06-02 22:34] Admicos commented on #51
On Tue Jun 2, 2020 at 6:29 PM +03, Josh Moore wrote:

It's actually really easy. See my PR (#30) for an example of
pygame_gui.

Buildroot also has a script at `utils/scanpypi` to automatically
package most pip packages.

[2020-06-02 22:36] joshiemoore commented on #47
Yes, we definitely need a logo. I am not artistic at all unfortunately. If any artists want to create a logo, I would be eternally grateful. We would need a few different resolutions (ie one for the boot screen, an icon, etc.)

My preference is for something that looks kind of "retro" and cool, I think that would be fun. Like those old tech company logos from the 70s/80s. Maybe that's a dumb idea,

[2020-06-02 22:37] Admicos commented on #51
Oh, I missed something:

That's fair. But for the small amount of pip i dealt with in Buildroot (pygame_gui and pytts3x, with the latter i accidentally deleted and have to re-package), it isn't that hard. You fill in the URL of the sources, save the hash and Buildroot does the rest.

The scanpypi script does all that for you most of the time, but for stuff like pytts3x it couldn't find the sources

[2020-06-02 22:51] #44 closed

[2020-06-02 22:51] #29 closed

[2020-06-02 23:15] joshiemoore commented on #46
Hi, I agree, a more centralized way to communicate would be good. I don't use or endorse Discord, and I personally feel that no free software project should. Discord is proprietary spyware that sells your data restricts your freedoms.

I would be strongly in favor of IRC. I admittedly haven't put much thought into comms, I wasn't expecting so many smart people to be interested in this in such a sh

[2020-06-02 23:30] Admicos commented on #46
On Tue Jun 2, 2020 at 7:16 PM +03, Josh Moore wrote:

Nice! Connected and will idle until my ZNC crashes :p

Fair enough. My suggestion would be to have an IRC to Discord bridge set
up (IRC side shouldn't need to do anything) so people who prefer Discord
can still communicate with the IRC folks.

[2020-06-02 23:47] John123Allison commented on #17
could you assign this to me?

[2020-06-03 00:11] joshiemoore commented on #7
Hi, I'm closing this for now, but feel free to send a PR and add your game!

[2020-06-03 00:11] #7 closed

[2020-06-03 00:16] omelched opened #52 "Mac OS build fails due to clang and `sed` usage"
Hi! My name is Denis, and I tried to build snakeware on my MacBook. But I have had some issues:
- `sed` utility which is obviously in Makefile in `snakeware/snakeware/buildroot` may not be used on macOS with option `-r`. The issue show itself like this:
`(base) user@omelched-MacBook snakeware % sudo ./build.sh x86-64`
`sed: illegal option -- r`
`usage: sed script [-Ealn] [-i extension] [file ...]`

[2020-06-03 02:45] Abdur-rahmaanJ commented on #46
Anybody who has experience setting up bridges just ping

[2020-06-03 02:46] OIK2 commented on #47
Python with a penguin shaped meal in its belly

[2020-06-03 02:47] Abdur-rahmaanJ commented on #47
@joshiemoore let me work on some proposals

[2020-06-03 05:34] Abdur-rahmaanJ commented on #47
Proposal one: Commodore64 theme with the two things which coincidentally also makes a snake's tongue. Colored those two to python's colors. The line underneath the letters is a reference to slackware meaning  a linux distro

@joshiemoore

![logo_slackware](https://user-images.githubusercontent.com/22630684/83599436-33656700-a57d-11ea-9028-58fec2c7d32b.png)

[2020-06-03 05:35] Abdur-rahmaanJ commented on #47
That's a brute open + commodore + py

![logo_open](https://user-images.githubusercontent.com/22630684/83599535-7d4e4d00-a57d-11ea-8db8-2a6ac095a471.png)

[2020-06-03 05:37] Abdur-rahmaanJ commented on #47
Reference

![commodore64](https://user-images.githubusercontent.com/22630684/83599662-ca322380-a57d-11ea-9df3-761f68c45761.png)

[2020-06-03 05:39] callmepavo commented on #47
I like the down facing split not only does it work as a reference to c64 but also looks a bit like a snake tongue

[2020-06-03 05:44] callmepavo commented on #47
I feel like we should double down on the 2 trapizoids facing down, i like that

[2020-06-03 06:12] Abdur-rahmaanJ opened #56 "Common file space and registry"
Suggest adding a single folder to hold all files. Easier to gitignore than to let people have their own filespace. We then associate files to apps. Apps refer to files via the API.

For global settings also we provide an API. #27

[2020-06-03 06:15] danielyoureelewis opened #57 "wiki / docs / user guide"
I think it would be helpful to start a wiki. Arch linux is well documented due to ArchWiki. I think that would be a good model.

[2020-06-03 06:24] callmepavo commented on #57
presumably using github wiki functoin

[2020-06-03 06:32] erkinalp commented on #10
Anyway, there is an experimental UEFI port for Raspberry Pi 4:
https://github.com/pftf/RPi4

[2020-06-03 06:53] joshiemoore commented on #52
Hi, thank you for your interest! MacOS and Windows are not supported dev platforms for this project, we recommend running Linux in a VM or dual-booting, etc.

[2020-06-03 06:53] #52 closed

[2020-06-03 10:35] bekirbostanci commented on #2
I tried also and print loading initial ramdisk. I waited but it is not continue. Is there any solution ?

[2020-06-03 10:42] bekirbostanci commented on #2
@win8linux it is very basic to convert img to vdi.
Firstly you install img file and open cmd. In the cmd  you should write
`"C:\Program Files\Oracle\VirtualBox\VBoxManage.exe" convertfromraw --format VDI .\snakeware0-0-1.img snakeware0-0-1.vdi
`
Note :
if your img name is snakeware0-0-2.img you have to change snakeware0-0-2.img this

[2020-06-03 12:39] John123Allison commented on #57
+1 GitHub Wiki

[2020-06-03 15:02] #47 closed

[2020-06-03 15:09] Abdur-rahmaanJ opened #58 "New Logo Proposals 🍧"
Refering #47

Refers to commodore64 logo and theme. The double slits of c64 coincidentally represents a snake's tongue. The lines are a reference to slackware meaning a Linux distro
![logo_slackware](https://user-images.githubusercontent.com/22630684/83653680-1f495600-a5cd-11ea-9a72-4c0c0836ab22.png)

Py + open to the theme of c64
![logo_open](https://user-images.githubusercontent.com/22630684/836

[2020-06-03 16:48] callmepavo commented on #17
If we can get suplemon working like we are trying in #50  then this will solve this issue

[2020-06-03 17:11] John123Allison commented on #17
@callmepavo I think the goal here is a non-terminal editor ala notepad rather than a terminal one, which can coexist.

[2020-06-03 17:55] Abdur-rahmaanJ commented on #58
@Admicos kind of sleeek 👍

[2020-06-04 05:57] ArneBachmann opened #61 "Window manager does not start in release 0.0.3"
[code]

[2020-06-04 06:01] joshiemoore commented on #61
Hello, you should type:
[code]
in the interpreter, and it will run for you.

Also, you could just type `snakewm` by itself and snakewm will start that way too.

[2020-06-04 06:04] rightbrace opened #62 "Add a package manager"
As the distribution grows, it may stop making sense to package all apps into it. What kinds of package management solutions make sense for this project?

My preliminary thoughts are:

Packages are maintained in their own repo by their respective maintainers. There is one central repository that hosts package metadata (maybe JSON?) of 'approved' packages. The package manager syncs to the master lis

[2020-06-04 06:06] rightbrace commented on #62
(in case it wasn't clear, with input from the community and further study of how the distribution works, I may be willing to write the package manager)

[2020-06-04 06:11] akx commented on #62
You could just host a Snakeware-specific PyPI server; then you can simply use `pip` to install stuff from it.

[2020-06-04 06:27] callmepavo commented on #58
Similar situation here, build on an ancient computer so decided to start learning inscape.  Very basic attempt at a minimalist type logo.
![logo-with-lines](https://user-images.githubusercontent.com/24368336/83722396-7acc2000-a66f-11ea-8f55-0974f72e8872.png)
![logo-no-lines](https://user-images.githubusercontent.com/24368336/83722401-7e5fa700-a66f-11ea-82ab-fbd015b68c95.png)

[2020-06-04 06:59] Abdur-rahmaanJ commented on #58
Me too on Inkscape ^^

[2020-06-04 07:20] Dragon20C opened #63 "Add a discord server"
Make it easier to communicate with everyone and share ideas etc

[2020-06-04 07:29] ArneBachmann commented on #61
My bad, forgot to run the constructor `()` on the class.

[2020-06-04 07:29] #61 closed

[2020-06-04 07:39] Abdur-rahmaanJ commented on #63
See #46 and @joshiemoore 's answer to the one we created https://discord.gg/PhZRVMJ

[2020-06-04 07:55] joshiemoore commented on #63
I've changed my attitude on this. Discord has been more requested than any actual snakeware feature, and people are definitely more inclined to use Discord than IRC. I also think something feels wrong about someone other than me owning/maintaining a Discord for the project. I'm going to make an "official" snakeware discord tomorrow so folks can hop on

[2020-06-04 08:00] Abdur-rahmaanJ commented on #63
@joshiemoore or i can change owner for the server i created like some people already joined ^^_ Besides please check the logo issue.

[2020-06-04 08:05] Dragon20C commented on #63
@joshiemoore I think its a good idea discord is extremely popular and I rather not have another app/program to communicate with people, I completely understand people why they dont want to use discord because of the data they can get from the users, but discord is extremely popular and I think it cant be ignored, Cant wait to join the discord server!
Should it be safe to close this now?

[2020-06-04 10:09] Admicos commented on #63
On Thu Jun 4, 2020 at 3:55 AM +03, Josh Moore wrote:

If you want to keep the IRC as well, I might be able to host a bridge
between the two.

[2020-06-04 10:14] Admicos commented on #43
I have managed to create a live ISO for it in just 56MB. It can probably be smaller if I change the compression algorithm, but I went for boot speed instead of image size.

Not entirely sure if I should send a PR for it, as it's just a part of my random experiments.

[2020-06-04 14:48] dargonforce commented on #62
I think using the existing PyPI is the right approach here, and very inline with the Snakeware philosophy

[2020-06-04 14:49] John123Allison commented on #17
If someone wants to take this over, they are welcome. My progress has/will be slow because I am working full time, so if someone with more time than me wants to get this done, they can reassign it. Cheers.

[2020-06-04 14:57] dargonforce commented on #27
sqlite is a good choice of db for something like this, although it might be slightly overdesigning to use a sql db.  if we do choose to use a sql db then I suggest creating some kind of library (snakesettings or w/e) for accessing and modifying the database, don't leave that up to users.

[2020-06-04 15:03] dargonforce commented on #21
if we're going to have something like this imo it should be configurable, and preferably a part of some wider persistent system state implementation.  #27 might be relevant.

[2020-06-04 15:23] dargonforce opened #67 "environment assertions at beginning of build.sh"
Just a few issues I ran across when building an image from scratch.  It would be best to check for them at the beginning of build.sh before a git-clone is issued or any other work is done

- check for required programs like hg
- check that you are running from the snakeware build system directory
    - consider maybe changing to the correct directory rather than just failing

[2020-06-04 15:29] callmepavo commented on #67
The dependencies need to be added to the instructions if they aren't already there (mercurial, lsblk, git, kpartx)

[2020-06-04 15:56] Abdur-rahmaanJ commented on #63
@Admicos it's a nice thing to keep the IRC! It costs nothing

[2020-06-04 15:57] Abdur-rahmaanJ commented on #27
Yes that's the system API. For users to use. We might have a json api, yes to play and get a feel before moving to something serious

[2020-06-04 16:37] dargonforce commented on #27
however we end up doing it, it should be implemented in such a way that that users will have no knowledge of the implementation

[2020-06-04 16:46] joshiemoore commented on #63
https://discord.gg/yr27Zsy

[2020-06-04 16:46] #63 closed

[2020-06-04 16:46] joshiemoore commented on #46
https://discord.gg/yr27Zsy

[2020-06-04 16:46] #46 closed

[2020-06-04 17:28] Abdur-rahmaanJ commented on #27
Yaps that's what an API is. Maintainers sweat to let users have a cool experience

[2020-06-04 17:41] joshiemoore commented on #62
It would be cool to only ship stock Python (and pip) with snakeware releases, and then use pip to install required packages over the internet on first boot. We'll have to get networking and "persistence" fleshed out first though

[2020-06-04 17:45] Admicos commented on #62
On Thu Jun 4, 2020 at 1:41 PM +03, Josh Moore wrote:

That might not be a good idea. I would recommend snakeware's root to be
fully read only, and have the ability to easily be switched out.

That way, if Pygame, for example, broke after an update, you can always
download an older version and load it into a live USB or whatever, and
keep the OS working.

Also, since I managed to get snakeware down

[2020-06-04 20:28] joshiemoore opened #71 "Data Persistence"
Currently snakeware boots as a "Live USB" and user data does not persist between boots. We need a good way to store user data persistently.

I really like the idea of having a "ROM partition" of a few hundred MB where the snakeware distro is installed (this would allow different snakeware versions to be swapped easily just by overwriting the partition), and a separate "user partition" which fills

[2020-06-04 20:41] Admicos commented on #71
On Thu Jun 4, 2020 at 4:28 PM +03, Josh Moore wrote:

Instead of a ROM "partition", snakeware could just be built as a read-only
initramfs, which I got working on a local branch.

That way, snakeware doesn't need to be installed to work, can run from a
live USB or CD, and probably will be small enough that the user can use
the USB stick for more than just snakeware.

We could have a menu on boot t

[2020-06-04 21:41] Admicos commented on #71
I've pushed the local branch I talked about in the above comment over to [my fork in the experiments branch](https://github.com/Admicos/snakeware/commits/experiments).

It uses the build system I made in PR 30, but I assume it shouldn't be that hard to port over if neccesary

[2020-06-05 04:08] Turtle1331 opened #72 "snaketerm help() freezes snakewm"
I'm running `snakeware0-0-3.img` on Debian buster (stable) using QEMU version 3.1.0.  I started up snakewm using
[code]

[2020-06-05 04:18] joshiemoore commented on #72
Hmmm, I also noticed this behavior a few days ago with a different built-in function. This will definitely be an important thing to check out

[2020-06-05 05:27] Turtle1331 commented on #72
This seems to be an issue with `sys.stdin` not being wrapped.  `sys.stdout` is replaced with a StringIO object in `snakewm/apps/tools/snaketerm:137`, but `sys.stdin` is left unchanged.

Note that it is still possible to access the original streams as `sys.__stdin__` and `sys.__stdout__`.  Also, `exec` is generally unsafe and hard to make secure.

[2020-06-05 12:46] traverseda opened #75 "Interprocess communication"
It's my understanding that this is currently a single-process application? I think that [rpyc](https://github.com/tomerfiliba/rpyc) would be a pretty good way to handle IPC, it lets you expose python objects transparently over network connections, basically importing python objects from other processes and having everything more or less just work.

I'm imagining that all your apps export not only

[2020-06-05 13:08] alexandruavadanii commented on #71
Some random thoughts on this, mostly derived from the idea of supporting UEFI systems.
Note that most current x86 machines currently support both BIOS and UEFI, most aarch64 - not Raspberry Pi natively, but that's an outlier and I won't go into details about it here - support _only_ UEFI.

For UEFI systems, the disk image (or ISO) should use GPT (as opposed to currently using MBR) and have 1 parti

[2020-06-05 15:20] dargonforce commented on #57
The Snakeware Wiki is now open for contribution

https://github.com/joshiemoore/snakeware/wiki

[2020-06-05 15:20] #57 closed

[2020-06-05 21:11] earney commented on #2
I ran the statement below on version 0.0.3 and it seems to import into virtualbox just fine.
`vboxmanage convertfromraw --format VDI snakeware0.0.3.img snakeware0.0.3.vdi`

FYI.. running it in virtualbox is quite a bit faster than running it in qemu.

[2020-06-05 21:16] Admicos commented on #2
On Fri Jun 5, 2020 at 5:11 PM +03, Billy Earney wrote:

Did you try running QEMU with `-cpu host -enable-kvm -smp $(nproc)`?

IIRC QEMU will use software to to emulate instructions by default, and
enabling KVM makes it use the hardware extensions (VT-d, etc) to make it
faster.

`-smp` is to allocate more threads to QEMU so it can take advantage of
multiple cores.

`-cpu host` is to make sure QEMU

[2020-06-05 21:33] earney commented on #2
No I didn't try running with the cpu argument..   Using it like you demonstrate does increase the speed quite a bit..  Thank you for the tip.  Maybe we can update the docs on the front page to use this (or at least mention it for those that do not know?

[2020-06-05 22:43] alexandruavadanii commented on #10
Hi, @joshiemoore, I see you assigned this to yourself - do you plan on starting working on it right away?
I'm asking because I have been thinking about giving it a try (bought a RPi 4B today, having some free time on Monday). My plan was to base my work on https://github.com/joshiemoore/snakeware/pull/30, start with buildroot's defconfig for RPi4 (64 bit), no grub (the firmware should be able to b

[2020-06-05 22:47] joshiemoore commented on #10
@alexandruavadanii I've already been working on it, I have it running on my pi 3, and have a Pi 4 showing up on Saturday (which is probably what the final Pi target will end up being)

[2020-06-05 23:20] joshiemoore commented on #10
@alexandruavadanii but also if you end up experimenting with it too I'd love to hear about your results! Just so you know the default RPI buildroot configs do not work, they use a broken version of the kernel that doesn't compile for some reason. I fixed this by pointing the kernel at the RPI Linux kernel git and setting the version to 4.19.y. After that I built and runs fine. I need to tweak the

[2020-06-05 23:35] hippytaffer commented on #2
Are you mounting the vdi rather than trying to select it as you would an iso?

[2020-06-06 04:18] joshiemoore commented on #2
@earney That's interesting about VirtualBox vs. QEMU in terms of speed... I'm going to have to mess with VirtualBox, I've been hearing that it's leagues better than QEMU. QEMU has so many problems that I'm ready to switch our documentation and build process to VirtualBox if I find it works well. So many potential users use VirtualBox and so few use QEMU that it might make sense to make the switch.

[2020-06-06 10:35] Turtle1331 commented on #72
@joshiemoore What are your thoughts on replacing `exec` with a `subprocess` instance of `python3`?  Are there any advantages to the current execution environment, e.g. access to globals for debugging purposes?

[2020-06-06 11:14] Turtle1331 commented on #48
It looks like [`pygame_gui.windows.UIFileDialog`](https://pygame-gui.readthedocs.io/en/latest/pygame_gui.windows.html#pygame_gui.windows.UIFileDialog) only [distinguishes](https://github.com/MyreMylar/pygame_gui/blob/master/pygame_gui/windows/ui_file_dialog.py#L212) between files and directories, not between files with different extensions.  Luckily, `wm.py` checks the format in [`set_bg_image`](h

[2020-06-06 18:14] lmagoncalo opened #84 "Add new packages for networking support"
I'm trying to work on a web browser and I was wandering if it is possible to add a new package into the snakewm like [requests](https://pypi.org/project/requests/)

[2020-06-06 18:35] Admicos commented on #84
While I'm not entirely sure on Josh's view on new packages, extra Pip packages can be added to the snakeware bootable image relatively easily. (And if network support is planned, requests seems like an essential package to have)

ps: From the issue title, it feels like you're asking if snakeware works inside a web browser. You might want to change that to clarify it a little bit.

[2020-06-06 19:51] joshiemoore commented on #84
We can definitely add more packages, we're working on installing packages in a cross-platform way during the build process as we plan to target Raspberry Pi in addition to x86. That said, you'll probably want to hold off on implementing a full web browser until we get networking in place, but you could definitely get started on an HTML parser/renderer

[2020-06-06 20:08] lmagoncalo commented on #84
Ok, was working on exactly that, trying to render simple html webpages.

[2020-06-07 06:35] Abdur-rahmaanJ commented on #84
@lmagoncalo see py browser engines

[2020-06-07 20:40] alexandruavadanii opened #88 "build: Allow building the disk image without root access"
The current build implementation leverages `kpartx` and loop devices to copy the rootfs contents to the final disk image, together with a manual step of determining the loop device index.
Instead, we could use FUSE and/or libguestfstools and have the build process work strictly in userspace.
This would add another build dependency.
Also, I'm not sure how this would work with `grub-install` (I hope

[2020-06-08 05:51] AdityaJ7 opened #93 "Sample Github pages website for the Snakeware OS"
Hey Everyone,
I have made a sample website for the OS.
I would appreciate if you guys can have a look at it,
I would be happy to receive suggestions.
Here is the link:-
[https://adityaj7.github.io/snakeware.github.io/](URL)

[2020-06-08 05:55] joshiemoore commented on #93
Thanks, but I would prefer people didn't make websites. If it ends up that snakeware needs a website I'll put one up. I would want it to be a legit thing, not hosted on github.

[2020-06-08 05:55] #93 closed

[2020-06-08 05:58] AdityaJ7 commented on #93
ok thanks for letting me know

[2020-06-08 06:00] joshiemoore commented on #58
Thank you all for your ideas, I've been in touch with a graphic designer who is working on a logo for snakeware. Thanks again!

[2020-06-08 06:00] #58 closed

[2020-06-08 16:41] alexandruavadanii commented on #2
I successfully tested snakeware 0.0.3 using VirtualBox 6.0.22 on Windows 10 version 2004 (19041.264).
Since I'm also using WSL2 which requires HyperV to be enabled, VirtualBox could not spawn the VM, raising a `WHvSetupPartition failed` error, similar to the one described in [1].
The solution in [1] (without disabling HyperV as WSL needs it) worked for me:

`'C:\Program Files\Oracle\VirtualBox\VBo

[2020-06-09 04:13] Abdur-rahmaanJ opened #96 "Snakeware users' chat"
Greetings,

I'd be grateful if i can be assigned to build the live chat app for
snakeware users, thanks!

[2020-06-09 18:49] whitelynx commented on #84
One possibility would be to use QtWebEngine via PySide2 (Qt for Python).
Qt can render into an SDL OpenGL context: https://forum.qt.io/topic/68383/qtquick-into-an-sdl2-window/4
PySide2 doesn't yet support cross-compiling for ARM, but it can actually built inside an ARM environment. (see https://bugreports.qt.io/browse/PYSIDE-802)

[2020-06-09 18:58] Admicos commented on #84
QtWebEngine is WebKit (or Blink, not sure), yeah?

I'm not entirely sure if embedding an entire browser engine larger than
the OS itself would be a great idea, especially on lower-end computers.

Something like NetSurf would probably be better, assuming you don't
mind it taking over the entire framebuffer and running fullscreen.

Currently, Snakeware doesn't use OpenGL, but rather draw directly in

[2020-06-09 19:08] Abdur-rahmaanJ opened #99 "Add metrics to CPU app"
CPU app shows only graph with no label as to what fluctuations depict

[2020-06-09 19:17] joshiemoore commented on #96
Hi, I'm most likely going to be the one that develops the chat app eventually, but we're also not ready for that yet as we don't have networking and network management fully in place yet.

[2020-06-09 19:17] #96 closed

[2020-06-09 20:03] alexandruavadanii opened #100 "python based init system"
In the readme's todo list there is currently an entry for replacing busybox's init with a python based solution.

Although there are quite a few init systems out there, not many of them are written in python.
I looked around a bit and found some OSS projects that fit the description, although not all of them would work as a drop-in replacement for the current init:

1. supervisord [1] - mature, ac

[2020-06-09 20:43] mdoege commented on #99
The graph goes from 0% at the bottom to 100% at the top, showing combined CPU use of all cores/threads. It's 100 px high, so each pixel vertically equals one percent. This is for all threads combined, so e.g. if on my Ryzen with its 16 threads there are 8 threads running at 100% and the other 8 are idle, the graph would show 50% total CPU use.

Horizontally, the graph is 200px wide, so being set t

[2020-06-09 20:50] joshiemoore commented on #99
I would be okay with leaving it as it currently is, I think it works really well to get general estimates of CPU usage, I've been using it a lot during testing. @mdoege I'll leave it up to you to decide whether you want to add a numerical display to this.

[2020-06-09 21:07] mdoege commented on #99
Cpumon is not meant to be a tool for precise measurement anyway, just something small and unobtrusive to keep in the corner of your desktop. So I would prefer to keep it visually as clean and simple as possible.

Perhaps snakewm needs a basic help system for some  usage info about an app to answer questions like this. You know, press F1 and up pops a little text window with a short README. If that

[2020-06-09 21:28] #26 closed

[2020-06-09 22:51] #99 closed

[2020-06-10 10:00] KAMiKAZOW commented on #100
This exists as well: https://github.com/YtvwlD/yarfi

[2020-06-11 02:00] joshiemoore commented on #8
Closed by #98 , isolinux is lightning fast!

[2020-06-11 02:00] #8 closed

[2020-06-11 02:49] joshiemoore commented on #88
See #98

[2020-06-11 02:49] #88 closed

[2020-06-11 16:29] karx1 opened #110 "Build fails"
Whenever I try to build an image, it fails during compilation of `host-cdrkit`.

Entire output is [here.](
https://mystb.in/IndividualThatShortly.php)

[2020-06-11 16:35] joshiemoore commented on #110
I had the same problem, this is a bug in GCC 10. The current solution is to downgrade to GCC 9.x. See the last few comments of #98 .

You'll have to do a `make clean` and start the build over once you downgrade GCC or it will cause problems.

[2020-06-11 16:45] Admicos commented on #110
You don't need to `make clean`. Removing
`buildroot/output/build/host-cdrkit` (and possibly
`$HOME/.cache/snakeware-buildroot` should be enough.

Running `make clean`, unless you have a good CPU, will make you sad, as
cdrkit is one of the very last pieces to get built.

[2020-06-11 16:47] karx1 commented on #110
Yep, you just have to delete those directories and then it will work. Just did for me.

[2020-06-11 16:47] #110 closed

[2020-06-11 16:53] joshiemoore commented on #110
There are numerous packages that get built after cdrkit. When I didn't do a clean before finishing the build the generated images had a lot of problems. It's a bad idea to build some of your packages with GCC 9 and some with GCC 10.
Specifically, one of the main errors I was getting was that none of the apps that load images would work. The error message was `libpng: unsupported zlib version` and

[2020-06-11 19:45] yuvalalon510 commented on #17
I would like to contribute, I started writing a basic app but if something has already started I would like to join.

[2020-06-12 01:04] #84 closed

[2020-06-12 05:24] joshiemoore opened #115 "RPi SnakeWM Performance Issues"
We have released a Raspberry Pi 4 image in v0.0.5, and everything runs and works. However, the performance in SnakeWM is noticeably sluggish. I have been testing snakeware on a 2004 ThinkPad that has similar specs to the RPi 4 (and half the RAM) and it runs fine, but the performance on the Pi is significantly worse. On desktop SnakeWM runs at a pretty consistent 60FPS at idle, but on the Pi the FP

[2020-06-12 08:34] blakem17 opened #117 "Create Key Bind Manager"
Working on adding a manager for key bindings.
Can Assign the issue to me if needed.

[2020-06-12 21:25] joshiemoore commented on #115
Since we are using Pygame in full-screen mode only at all times, there turns out to be a flag we can set called `pygame.HWSURFACE` which utilizes the device's video hardware to perform graphics acceleration, and this apparently works on the Raspberry Pi. There are a number of other flags we can experiment with as well, but this looks to be exactly what we need. I'm going to look into this later an

[2020-06-14 21:21] alexandruavadanii commented on #115
Do you have a serious cooling solution for the RPi? I read that it overheats and throttles the CPU speed even without overclocking [1].
I haven't been able to test Snakeware on RPi myself yet since I've been travelling this week, but I'll try to do that soon.

[1] https://www.jeffgeerling.com/blog/2019/best-way-keep-your-cool-running-raspberry-pi-4

[2020-06-16 22:16] mdoege commented on #115
I think you should consider switching Snakeware to PyGame 2 (and therefore SDL2) as soon as possible. It is so much better! It certainly solved crashes I had on Linux with 1.9.6 related to PulseAudio; performance is probably also better. And supposedly SDL2 has better support for hardware acceleration, so it might help the RPi.

PyGame 2.0.0.dev10 is still in beta, but is quite usable. No crashes

[2020-06-19 05:00] #71 closed

[2020-06-19 05:01] #10 closed

[2020-06-24 20:04] deltaflyer opened #135 "Add minimal network stack for network applications"
Hello @joshiemoore

first of all, I enjoy the work with snakeware. For having even more fun having network / Internet applications in snakeware would boost for the creativity of developers and give a huge improvement to the OS. To get this, I suggest the integration of a minimal network stack consisting of following parts:

1. Enable NIC drivers in the Linux-Kernel for...
   1.1. ... the standard

[2020-07-18 11:40] Cyppa opened #137 "Ability to easily update Pygame and Pygame Gui and make snakewm 'debuggable' within snakeware"
As I am developing an app for snakeware I realised that my app was not compatible with the version of pygame gui that snakware uses. (My bad!) The app is several thousand lines of code already. If there was a way to update pygame and pygamegui in sankeware that would get this app into snakeware.

I have successfully built a snakeware ISO with the required pygame gui version (0.5.7) but snakewm won

[2020-07-18 12:05] Admicos commented on #137
Pygame is included by upstream Buildroot, so Updating Buildroot will update
Pygame as well. For Pygame-Gui, the Buildroot package is at
snakeware/external/package/python-pygame-gui[1]. The .mk file contains the
metadata and download link, while the .hash file contains the md5 and sha256
hashes.

You can get all that info from https://pypi.org/pypi/pygame_gui/json, but you'll
need a JSON parser to

[2020-07-19 15:56] Cyppa commented on #137
Thanks for your help. I've been in touch with users named 'admicos' and 'Turtle1331' on Discord. Admicos showed me how to run python files using "os.system('sh')" command then running "python3 filename.py" to execute the app. This allowed me to open my app in snakeware and when it crashed it threw me back into a console. Real great way to help we move forwards.

Through this method I realised pyga

[2020-07-21 21:13] donno2048 opened #138 "Add a .bat version of build.sh"
Is it even possible?

[2020-07-22 07:10] Cyppa opened #139 "Get pylibpd into Snakeware. A python wrapper for embedded Puredata audio/ synth!"
Would it be possible to get libpd via it's python wrapper into Snakeware? Puredata is a very powerful and advanced audio engine used in games, audio engineering, live performance, experimental electronic audio, etc. Pylibpd is built after libpd is built. I assume this is a buildroot thing. I know pretty little about buildroot even though I've played around a it with it.

I have created a guitar ef

[2020-07-22 11:35] Admicos commented on #138
I don't think that would be possible, as Buildroot relies on a Linux
environment pretty heavily. Using something like WSL would most likely
work, but your mileage may vary.

[2020-07-22 11:43] Admicos commented on #139
Checking on libpd real quick, it seems like it only requires a shell and
C compiler to build, which should work fine. It also has CMake support,
so you might be able to use that as well.

If you're willing to package them yourself, check the Buildroot manual
(https://buildroot.org/downloads/manual/manual.html) for "Infrastructure
for CMake-based packages" and "Infrastructure for Python-based
packa

[2020-07-23 00:35] Cyppa commented on #139
I guess I'll have start learning more about buildroot. When I get a chance I may take on the task. (thumbs up)

[2020-07-23 10:49] #138 closed

[2020-08-02 10:28] donno2048 opened #142 "bug when creating the iso image"
when running the build script I get:
[code]
obviously I tried  `set FORCE_UNSAFE_CONFIGURE=1` which doesn't worked I also tried other stuff like:

`env FORCE_UNSAFE_CONFIGURE=1` and `export FORCE_UNSAFE_CONFIGURE=1`  and run them as root and nothing worked.

[2020-08-02 15:36] karx1 commented on #142
I might be misunderstanding, but are you trying to run the build script as root? You shouldn't have to, it works without root for me

[2020-08-02 15:38] karx1 commented on #51
We can also have users install their own packages into the SNAKEUSER partition if they want and then add that directory to sys.path in the startup script.

[2020-08-02 17:12] #142 closed

[2020-08-02 17:13] donno2048 commented on #142
oops, my bad

[2020-08-02 20:20] donno2048 opened #143 "Error with sha265 and bison"
when trying to build the iso image I get the following error:
[code]

[2020-08-02 20:49] #143 closed

[2020-08-08 19:57] vedgar opened #145 "Some suggestions"
* bigger fontsize (people from 80s don't have great vision now:)
* ability to remap keyboard (other keyboard layouts)
* quicker reboot (I know quick boot is thorny, but maybe reboot might use some shortcuts)

Thank you very much for a fantastic piece of software!

[2020-10-29 11:46] anki-code opened #147 "xonsh as default shell"
Hi! Very interesting distro!

I think [xonsh](https://github.com/xonsh/xonsh/) (Python-powered, cross-platform, Unix-gazing shell language and command prompt) could be the default shell :)

Thanks for your work!

[2020-11-26 23:49] SorrowEater opened #148 "Internet: we need it."

[2020-12-07 14:59] raspiduino opened #151 "Can we have 32-bit iso?"
Hi, can we have 32-bit iso of snakeware, or at least how to build 32-bit image. Thanks!

[2021-02-07 18:37] SorrowEater commented on #147
It could be, but the whole point of the project is to have it python-based. Otherwise, we would have used busybox's default shell, ash, or bash, or something. That's why you can't exit the python interpreter on boot. It IS the shell.

[2021-02-07 18:40] SorrowEater commented on #51
but can't you import os and run commands like `pip install` in the python shell? I can use os.popen to run `iwctl station wlan0 connect <network> --passphrase <passphrase>`

[2021-02-08 15:53] SorrowEater commented on #2
Uh... That has nothing to do with this issue...

[2021-02-08 15:56] SorrowEater commented on #2
Sorry, I was just messing around with iwd to get it to work without manually typing in the interpreter...
Although, this touches on a subject that I wanted to discuss with you, @joshiemoore! When you run `snakewm` in the interpreter in launches snakewm, right? How did you get that to work?

[2021-02-12 21:51] anki-code commented on #147
hi @SorrowEater! Yep indeed, but:
[code]
Why you can't run this? )

[2021-02-13 02:23] SorrowEater commented on #147
Wow... I just followed the link you put for xonsh... Yeah, it's doable, and it's cool. I think @joshiemoore feels that if we're making a PythonOS, we should use it's interpreter, which is why we don't use ash, but maybe we could integrate it with snakewm? Like a terminal? That way we're still staying true to Python, but we still have a way to, you know, do linux stuff.

[2021-02-13 02:24] SorrowEater commented on #147
Like, I'm trying to say it's not impossible, but then it's just imbedded Linux with a Python window manager.

[2021-02-13 02:25] SorrowEater commented on #147
We're trying to move away from Linux and make a PYTHON os. I think.

[2021-02-13 07:16] anki-code commented on #147
All you need to be pure python is to have core utils that implemented on python (cd, vim, ls, ifconfig, etc). I suppose xonsh is pretty agile and extensible to do what you want.

[2021-02-13 20:17] SorrowEater commented on #147
well... I guess we are imbedded linux... But what I'm trying to say is, someone either tried very hard to make the `>>>` prompt the default, or someone messed up majorly. If it's the first one, I don't feel comfortable just tearing it down and making it just regular linux. If it's the second one, then xonsh can be seen as a viable alternative. I'll look into it. Maybe I'll give an option between x

[2021-03-01 17:14] PCITechie opened #153 "Entering "help()" in snaketerm locks up snakewm."
OS: Artix GNU/Linux (runit)
Issue: After entering "help()" into snaketerm, snakewm completely locks up.

Why? No idea, correct behaviour should be starting interactive help.

[2021-03-01 17:20] mochidaz commented on #153
#72

[2021-03-01 17:21] #153 closed

[2021-03-22 14:56] AppBuilder428 opened #156 "Hi, Josh"
@joshiemoore

How are you doing?

This is Tien and we met on VK.com. I waited for you on Sunday night (EST) but It seemed your VK account was suspended. Can you contact me directly using email: k.abel1986@yahoo.com and give me your email, please?

I really want to work with you together and hope to start asap.

Thanks.

[2021-03-22 14:56] #156 closed

[2021-03-22 16:59] raytopianprojects opened #157 "Discord Invite Invaild"
It appears this awesome projects Discord Invite is invalid.

[2021-03-26 18:03] SorrowEater opened #158 "Wiki for dev"
I know most people here can easily understand how snakeware works, and contribute to the project. I, on the other hand, couldn't understand anything when I first tried contributing, and I still don't understand a few things. So, I think, it would be a good idea to write a wiki. Of course, I'm prepared to write it myself, but I'll need help from some of the contributors who actually know what they'

[2021-03-26 18:08] SorrowEater commented on #147
Okay, I'm back with knowledge of what ash is. Ash is the embedded linux version of the `>>>` shell. Basically, ash is the default shell, and it pipes to the actual `>>>` prompt. It was specifically chosen for this project, and for it to be replaced will either require someone willing to do it and make a pull request, or some of the collaborators to agree, that yes, xonsh is better than ash.

[2021-03-26 18:16] anki-code commented on #147
Good! It's a good thing to put here the link to the code that could be the start point to research and development.

[2021-03-28 06:10] anki-code commented on #147
JFYI. I've made a short try to run [xonsh portable binary file](https://github.com/anki-code/xonsh-portable-binary) (it's proof of concept and non production ready) on busybox in the docker and have a success:

[code]

[2021-04-19 14:55] TechStudent11 opened #159 "What distro is this based on?"
I just want to know what Linux Distro you based Snakeware on. I want to try to build my own sort of Python Operating System. Or at least something that uses a Python Interface.

[2021-04-19 14:55] TechStudent11 commented on #159
Umm, I forgot to add the question tag. Closing!

[2021-04-19 14:57] TechStudent11 commented on #159
nvm I just realized that I can't add the question tag in the first place! Reopening!

[2021-04-19 16:03] donno2048 commented on #159
This is not simply based on a distro. It's built upon [buildroot](https://buildroot.org/)

[2021-04-19 16:17] mochidaz commented on #159
Not based on any distros, its built from scratch

[2021-04-19 17:05] TechStudent11 commented on #159
So how did you do it? I kind of want to make my own after experiencing Snakeware.

[2021-04-19 17:14] donno2048 commented on #159
I would suggest you look at the [build script](https://github.com/joshiemoore/snakeware/blob/master/snakeware/build.sh) and the [configuration file](https://github.com/joshiemoore/snakeware/blob/master/snakeware/configure.sh).

And obviously, learn to use buildroot, [documentation](https://buildroot.org/downloads/manual/manual.pdf)

[2021-04-19 17:15] TechStudent11 commented on #2
(btw I didn't mean to mention this issue)

[2021-04-19 17:23] TechStudent11 commented on #159
@donno2048 okay thanks.

[2021-04-19 21:00] mochidaz commented on #159
Well, this probably can help, too

http://www.linuxfromscratch.org/

[2021-04-19 21:09] TechStudent11 commented on #159
@mochidaz Thanks. I was having problems with buildroot. Let's hope that this works!

[2021-04-19 21:19] TechStudent11 commented on #159
@mochidaz I've tried it in the WSL environment on Windows 10 and it won't work. Here is the error:
[code]

[2021-04-19 22:00] donno2048 commented on #159
Oh, if you're using `wsl` it's impossible (even if you fix this error) because buildroot and such tools are case sensitive, while Windows isn't, you *could* try forcing Windows to do so too
(
[code]
)
But it will probably cause confusion in `ProfileList` and other registries because they are not case sensitive. You should really not do that.

[2021-04-19 23:05] TechStudent11 commented on #159
@donno2048 oh. So should I just use a VM? Like VMware?

[2021-04-19 23:17] donno2048 commented on #159
Yeah, or a docker, I guess...

[2021-04-19 23:35] TechStudent11 commented on #159
@donno2048 I have no idea what Docker is so I am gonna use a VM.

[2021-04-23 09:15] MegDuck commented on #159
I think you need to install linux on PC to build. Really, GCC on stage 8(7) building very long....

[2021-04-23 09:16] MegDuck commented on #158
You need to read config files and documentation to buildroot

[2021-04-23 09:18] MegDuck commented on #147
Its NOT choosed. Its default shell in busybox.

[2021-04-23 20:47] SorrowEater commented on #147
Interesting. Well, when I get around to it, I might decide to implement xonsh in my fork, and thanks for the information, I guess...

[2021-04-24 08:09] MegDuck commented on #147
I try to make a version of snakeware with xonsh

[2021-04-29 21:46] SorrowEater commented on #158
I know how buildroot works, to an extent, and busybox docs should be readily available, but I think that the way apps are written is unique to snakeware. This makes it difficult for people who aren't proficient enough in python/buildroot to figure out how to write one to contribute. So I will begin writing a wiki in my fork, but I will need help.
DM me if you want to help:
Discord: sorrowfuldes#68

[2021-04-29 21:56] SorrowEater commented on #51
Okay, so buildroot includes a tool for this called scanpypi. It basically creates a buildroot package based on the pypi package you specify. It has to be manually checked for errors, but it makes our lives a hell of a lot easier. It's 'buildroot/utils/scanpypi'. It hasn't worked out well for me, but it may work for you! Check it out.

[2021-05-03 21:43] SorrowEater opened #160 "S50startpy permission denied"
![S50startpy](https://user-images.githubusercontent.com/70533891/116936848-fd69b080-ac2d-11eb-96d4-f1afe0435705.png)
This is not so much an issue as it is me asking for help. I made some slight edits to S50startpy, and it says that it doesn't have access to /usr/bin, even though it's root. To see and review the changes I made, see my fork.
https://github.com/SorrowEater/snakeware/

[2021-05-04 16:13] #160 closed

[2021-05-18 17:38] SorrowEater commented on #159
If I may, I learned something recently(this is very off-topic...)! Multipass, which is advertised as a quick and easy way to make VMs, actually lacks the ability to compile snakeware(using ubuntu)! Which means Multipass does not create truly isolated VMs. I thought this was interesting, but besides, VMWare or VirtualBox work fine. You need to download the image, but they work. Of course, my testin

[2021-05-18 18:48] TechStudent11 commented on #159
@SorrowEater that is very off-topic haha.

[2021-05-19 02:24] SorrowEater commented on #147
Update! @anki-code, xonsh works on my fork, but it falls back to bash(or maybe sh, I forgot, it's been a while). This is a dependencies issue, thankfully, so it will be resolved soon. Thanks for the suggestion!

[2021-05-25 05:35] DGTV11 opened #161 "Snakewm is very laggy on VirtualBox, even with 2 virtual cores!"
Help! Booting snakeware and typing in "snakewm" is ok but when I enter snakewm, it is so laggy that it the mouse only moves very rarely!

[2021-05-25 05:39] DGTV11 commented on #161
This is the proof:

https://user-images.githubusercontent.com/52272655/119444898-86bc6080-bd5e-11eb-89bc-57f048b5f17d.mov

[2021-05-25 14:35] SorrowEater commented on #161
How much RAM do you have allocated? You're going to need a bit more than you would think (4gb-ish)

[2021-06-01 02:21] SorrowEater commented on #2
I have no idea what I was thinking when I commented this

Or this, although I know how now

[2021-06-01 02:28] SorrowEater commented on #157
I would give it to you, but I left...

[2021-06-03 22:22] SorrowEater commented on #137
It might be possible to do this with a package manager, but snakeware is... unique. I may be able to write it myself, which would be fun, but debugging would be harder.

[2021-06-04 16:36] SorrowEater commented on #2
Uh, @ghost, excuse me if I'm wrong, it's been a while since I've used VirtualBox, but couldn't you just use the img as a boot device? I know you can do that with ISOs, and if the img doesn't work, you can just convert it to an ISO.

[2021-06-10 07:21] DGTV11 commented on #161
[
![Uploading Screenshot 2021-06-10 at 3.20.38 PM.png…]()
](url)

[2021-06-10 07:24] DGTV11 commented on #161
Do I have to redo the ENTIRE VM creation???
Hope not.

[2021-06-10 07:26] DGTV11 commented on #161
I have 8 GB of ram. I hope I don't have to allocate more than half of my ram!

[2021-06-10 07:43] Zireael07 commented on #161
For pretty much any VM, 2 GB is like the minimum nowadays. 512 MB is waay too little, AFAIK even DOSBox uses more.
IIRC you can adjust the slider after you created the VM, though.

[2021-06-10 14:43] SorrowEater commented on #161
You shouldn't have to, but Python is plenty RAM-hungry. snakeware is light, so 2gb is barely enough. I use 4-8gb, more isn't needed.

[2021-06-11 04:03] DGTV11 commented on #161
2048 MB and 2 virtual cores for snakewm still isn't enough! Do I have to increase it further???
PS: snakeware sometimes duplicate keypresses in the shell

[2021-09-01 16:36] TechStudent11 opened #162 "Error when building."
Hello! I have tried to build snakeware manually after making some changes to snakewm so that I can test it in QEMU. After installing all the buildroot dependencies, I run `./build.sh x86-64`.

Here's the output:
[code]
I honestly don't know what is happening. Can someone please help?

[2021-09-01 16:57] TechStudent11 commented on #162
A quick update:
I've tried running `make clean` then `./build.sh x86-64` and I still get an error.
Here's the output: [output.txt](https://github.com/joshiemoore/snakeware/files/7093004/output.txt)
I'm not sure if this has anything to do with the Python code I modified in the `snakewm/` directory.

[2021-09-01 18:38] TechStudent11 commented on #162
Another quick update:
I've tried re-cloning the repository, and building using the same command.
It doesn't work. For context, I am running Ubuntu 21.04 and have installed all of the buildroot dependencies on my Raspberry Pi 4 and it still doesn't work. I honestly don't know what's happening.

[2021-09-07 19:43] TechStudent11 commented on #162
Update:
After changing the Buildroot Version in the build.sh file, I get no error...
But it freezes up at some random point.

[2021-10-09 15:47] MikeDev101 opened #163 "How to add apps to the x86_64 image?"
I've been messing around with snakeware for a while on the Raspberry Pi 4. With a bit of help from a spare Linux machine, adding code is relatively easy. As for the x86_64 build, not so much.

I've tried compiling from source but it keeps failing (either it complains about the makefile having an invalid configuration or some binaries still using 32-bit when building for 64-bit), so I gave up on th

[2021-10-09 20:04] TechStudent11 commented on #162
@joshiemoore Thanks! I'll try it sometime later on my Raspberry Pi 4. Just a question, can I build for x86_64 on an arm64 device?

[2021-10-09 21:37] TechStudent11 opened #164 "Can I build for x86_64 on an arm64 device?"
Just a question, can I build for x86_64 on an arm64 device?

_Originally posted by @TechStudent11 in https://github.com/joshiemoore/snakeware/issues/162#issuecomment-939354882_

[2021-10-10 23:32] TechStudent11 commented on #162
@joshiemoore So I have been compiling Snakeware for a couple of hours and it's hanging. You said that it would take well over an hour to compile on a not so beefy machine. What if that machine was a Raspberry Pi 4 with 4GB of RAM compiling an x86_64 build?

[2021-10-11 00:13] MikeDev101 commented on #163
Ok, thanks.

I was hoping for a way to add apps directly onto a drive with snakeware imaged onto it (as if I were to drag-drop code into snakeuser, and import code from there?), so I can quickly debug code.

[2021-10-11 02:05] joshiemoore commented on #164
Cross-compilation should work fine, that's a big part of what buildroot does. Just as we can build images targeting the RPi on x86, you should be able to build for x86 from an ARM host.

I'm closing this because I just enabled the "Discussions" tab so people can ask questions there instead of opening issues.

[2021-10-11 02:05] #164 closed

[2021-10-11 02:07] #151 closed

[2021-10-11 02:11] #163 closed

[2021-10-11 02:24] joshiemoore commented on #162
I would think that attempting a full snakeware build on an RPi host could take like a day or more, I wouldn't recommend using an RPi as your dev environment for this.

https://elinux.org/Raspberry_Pi_Kernel_Compilation

The "Overview" section of this page says that compiling a kernel on an RPi took them 12.5 hours, and snakeware builds a lot more than just the Linux kernel.

[2021-10-13 05:34] #161 closed

[2021-10-13 05:50] #43 closed

[2021-10-13 05:53] #13 closed

[2021-10-13 05:53] #115 closed

[2021-10-13 05:55] #137 closed

[2021-10-13 08:36] anki-code commented on #147
Hi @joshiemoore! Why this issue was closed? It has 8 👍 reactions.

[2021-10-13 14:51] merwok commented on #43
@joshiemoore could you say if this was implemented or rejected?

[2021-10-13 15:07] joshiemoore commented on #43
Well this was basically implemented when we switched to buildroot, the release images are currently quite small at only ~72MB. This issue was related to the old build system so it's quite outdated

[2021-10-17 20:08] TechStudent10 opened #169 "Slow performance on Raspberry Pi while having background image."
When changing the background image on a Raspberry Pi, the version using the ISO, the FPS drops to about 10 - 15 FPS.

[2021-12-14 01:25] n-92 opened #170 "Error: Package defined a second time"
Hi,

I am trying to install a pycrypto package by executing `python3 utils/scanpypi pycrypto -o ../external/package` to create the necessary configuration files. But I keep encountering the error below.
What is the right way of including a python package?

[code]

[2021-12-19 23:43] TyR3x123 opened #171 "[Security] Workflow autoblack.yml is using vulnerable action actions/checkout"
The workflow autoblack.yml is referencing action actions/checkout using references v1. However this reference is missing the commit [a6747255bd19d7a757dbdda8c654a9f84db19839](https://github.com/actions/checkout/commits/a6747255bd19d7a757dbdda8c654a9f84db19839) which may contain fix to the some vulnerability.
The vulnerability fix that is missing by actions version could be related to:
(1) CVE fix

[2022-02-26 17:37] DansDesigns opened #172 "Booting on an Intel Compute Stick with 32-bit UEFI"
Hello,
Firstly I would like to congratulate you on a superb job, this is truly brilliant!
I have been searching for a way to have a native python shell with minimal Linux install for ages!!

My Issue:

I would really like to use this with the Intel Compute Sticks but I'm finding that due to the 32-bit UEFI on these devices, the iso doesn't boot.. I have tried adding a bootia32.efi and bootx64.efi

[2022-04-30 01:52] DavidproMaster opened #173 "I live in a fun country called Brazil because of this i cannot type ' or " in my keyboard as snakeware uses a different key layout"
I live in a fun country called Brazil because of this i cannot type ' or " in my keyboard as snakeware uses a different key layout
can you help?

I liked the project but... i cant write any code because i live in this country and the layout is different from Britain and America.

BTW the keyboard layout here is abnt1 and abnt2
:)

[2022-05-08 15:43] #173 closed, assigned to nobody

[2022-05-26 21:36] DavidproMaster opened #174 "UEFI Support: Cannot boot into my trusty and old laptop because it is UEFI only and i cannot change to CSM"
Cannot boot into my trusty and old laptop because it is UEFI only and i cannot change to CSM

Can someone help me as most modern machines have UEFI boot only and do not have CSM support especially cheaper machines.

[2022-06-09 19:07] cjwomack opened #175 "Regarding Pygame 2.x.x versions, SDL2 and framebuffer support.."
Hi there,

Read an article on your project and I thought it was cool.  Was going to perhaps try it on 32bit machine and looked at some Buildroot stuff but as I hadn't done anything like that before.... (I did contact people on the list as I had read i386 support had been removed, they explained that that particular i386 was the first type of those processors and that i386 in buildroot menu was ref

[2022-08-30 00:54] gratejames opened #177 "Is it possible to build for i686 CPUs?"
Not really sure how buildroot works, so this might be a bad question, but is there any way to build the project for this CPU? I'd really like to be able to turn an old Toshiba (Pentium M) into an interesting python workbench rather than a useless relic.
The error I get when running the pre-build ISO is 'This kernal requires an x86-64 CPU, but only detected an i686 CPU.'
<details>
  <summary>Edit 1

[2022-09-29 09:23] keedon opened #180 "Snakeware fails to build if you use zsh as your shell"
Please add ```#!/bin/env bash``` at the top of the script